body {
  height:100vh;
}

#app {
  height:100%;
  background-color: whitesmoke;
}

.circular-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.app-container {
  height:100%;
}

.dealer-col {
  width: 1px;
}

.dealer-icon {
  height: 40px;
  width: 40px;
  opacity: 20%;
}

.selected {
  opacity: 100%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}

.header {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  height:100%;
  display: flex;
  justify-content: center;
}

.logo {
  height: 170px;
  margin-top: 15px;
}

.modal-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.name-col, .total-score-col {
  padding: 10px;
  font-size: 24px;
  vertical-align: top;
}

.name-col::first-letter {
  text-transform: uppercase;
}

.name-input {
  width: 70%;
}

.round-score-col {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  padding-bottom: 30px;
}

.player-score-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.score-card {
  background-color: red;
  position: absolute;
  top: 15px;
  margin-left: 15px;
  width: 90%;
  min-height: 90%;
}

.score-input {
  padding: 10px;
  width: 50px;
}

.start-card {
  margin: 15px;
  position: absolute;
  top: 200px;
  width: 90%;
}
